.Contenedor-ficha {
  max-width: 500px;
  margin: 45px auto;
  padding: 35px;
  border-radius: 12px;
  background-color: #214170;
  font-family: "Playfair Display", serif;
}

.Contenedor {
  border-bottom: 2px solid #080808;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.Contenedor h1 {
  margin: 50px 50px 30px 50px;
  font-size: 1.9rem;
  color: #ffffff;
  font-family: "Playfair Display", serif;;
}

.badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
}

.badge.activo {
  background-color: #e6fffa;
  color: #234e52;
  border: 1px solid #b2f5ea;
}

.badge.inactivo {
  background-color: #fff5f5;
  color: #742a2a;
  border: 1px solid #feb2b2;
}

.ficha-cuerpo p {
  margin: 10px 0;
  font-size: 1rem;
  color: #fff5f5;
}

.nombre {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}

.edad {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}

.carrera {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}

.semestre {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}

.ciudad {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}

.promedio {
  text-align: left;
  background-color: #101312;
  padding: 5px;
  border: 1px solid #a1823f;
}